* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
  direction: ltr;
}
#container-noHerder {
  position: relative;
  width: 83%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  left: -3%;
}
.container {
  display: flex;
  /* border: 1px black solid; */
  height: 90vh;
  /* position: relative; */
  flex-wrap: nowrap;
  width: 100%;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
}
.header {
  display: flex;
  border: 1px black solid;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  height: 10%;
  background-color: #003580;
}
.header h1 {
  color: white;
  font-family: "Monoton", cursive;
  font-family: "Poppins", sans-serif;
  font-family: "Radio Canada", sans-serif;
  position: relative;
  left: -99px;
  font-size: 20px;
}
.icon3-box {
  display: flex;
  height: 28px;
  margin: 10px;
  width: 28px;
  cursor: pointer;
}
#us-flag img {
  border-radius: 55%;
}
/* ///////////////////////////////////////////////// */
.sec1 {
  display: flex;
  font-family: "Monoton", cursive;
  font-family: "Poppins", sans-serif;
  font-family: "Radio Canada", sans-serif;
  font-weight: 600;
  font-size: 20px;
  height: 15%;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  /* border: 1px black solid; */
  width: 347px !important;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
}
.sec1-pass {
  width: 31%;
  top: -9px;
  right: -32px;
  position: relative;
}
#conf {
  display: flex;
  font-family: "Monoton", cursive;
  font-family: "Poppins", sans-serif;
  font-family: "Radio Canada", sans-serif;
  font-weight: 500;
  font-size: 12px;
  color: rgb(56 56 56);
  width: 325px;
  position: relative;
  font-size: 12.5px;
  transform: translate(590px, 0px);
  width: 312px;
  right: 9px;
  top: -3px;
}

/* /////////////////////////////////////////////// */
.sec2 {
  display: flex;
  /* border: 1px black solid; */
  width: 514px;
  overflow: hidden;
  height: 25%;
  justify-content: center;
}
/* //////////////////////////////////////////////////// */
input[type="email"],
input[type="password"] {
  outline: 0px;
  border: 1px solid rgba(56, 56, 56, 0.538);
}
#container-formIN {
  display: flex;
  /* border: #003580 1px solid; */
  flex-wrap: wrap;
  width: 415px;
  align-content: flex-start;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  /* right: -50px; */
  right: -120px;
}
#all {
  display: flex;
  width: 317px;
}
#all #SC {
  /* position: relative; */
  /* top: 5px; */
  /* right: 5px; */
  position: relative;
  top: 51px;
  color: rgb(56 56 56);
  right: -16px;
}
/* //////////////////////////////////////////////////// */
#container-formIN input,
#password-container input {
  display: flex;
  margin: 9px 0px;
  height: 34px;
  width: 205%;
}
#container-formIN label,
#password-container label {
  display: flex;
  width: 100%;
  font-family: "Monoton", cursive;
  font-family: "Poppins", sans-serif;
  font-family: "Radio Canada", sans-serif;
  font-weight: 400;
  font-size: 15px;
  border-radius: 2px;
}
#container-formIN .btn-SR,
#password-container .btn-SR {
  display: flex;
  cursor: pointer;
  height: 50px;
  border: 0px;
  color: white;
  font-family: "Monoton", cursive;
  font-family: "Poppins", sans-serif;
  font-family: "Radio Canada", sans-serif;
  font-weight: 400;
  font-size: 16px;
  width: 205%;
  /* border: px; */
  border-radius: 2px;
  background-color: #0071c2;
  justify-content: center;
}
#password-container .btn-SR {
  width: 300px !important;
  height: 50px !important;
  display: flex;
}
#password-container label {
  width: 300px !important;
  display: flex;
  position: relative;
  height: 25px !important;
  top: 10px;
}

#password-container input {
  width: 300px !important;
  display: flex;

  height: 27px !important;
}

#password-container {
  /* border: #0071c2 solid; */
  width: 204%;
  /* display: none; */
  display: flex;
  height: 200px;
  position: relative;
  justify-content: center;
  right: 60px;
  transform: translate(590px, 0px);
}
.pass-trans {
  transform: translate(0px, 0px) !important;
  transition: all 0.2s linear;
}
.all-pass {
  display: none;
  position: relative;
  top: -9px;
  right: 6px;
  transform: translate(590px, 0px);
}
.trns {
  transform: translateX(-466px);
  transition: transform 0.25s linear;
}
/* ///////////////////////////////////////////// */
.sec3 {
  display: flex;
  /* border: 1px black solid; */
  width: 100%;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.txt-line {
  color: #383838;
  font-family: "Monoton", cursive;
  font-family: "Poppins", sans-serif;
  font-family: "Radio Canada", sans-serif;
  font-weight: 400;
  font-size: 13px;
}
.sec3-1 {
  top: -17px;
  height: 50px;
  width: 346px;
  /* border: 1px black solid; */
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  justify-content: space-evenly;
  align-items: center;
  /* transform: translate(19px, -15px); */
  right: -14px;
}
.ilne1 {
  width: 81px;
  height: 0px;
  position: relative;
  border-bottom: 1px solid #3838389d;
}
.sec3-2 {
  height: 73px;
  width: 335px;
  position: relative;
  /* border: 1px black solid; */
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  right: -13px;
  padding: 18px;
  /* transform: translate(19px, -5x); */
}
.sec3-3 {
  height: 50px;
  cursor: pointer;
  display: flex;
  color: #0071c2;
  font-family: "Monoton", cursive;
  font-family: "Poppins", sans-serif;
  font-family: "Radio Canada", sans-serif;
  font-weight: 700;
  width: 200px;
  top: 24px;
  position: relative;
  font-size: 15px;
  /* transform: translate(37px, 15px); */
  /* border: 1px black solid; */
  display: flex;
  align-items: center;
  justify-content: center;
  right: -13px;
}
.sec3-2all {
  cursor: pointer;
  height: 75px;
  width: 70px;
  align-content: center;
  justify-content: center;
  align-items: center;
  border: 1px #3838382e solid;
  border-radius: 1px;
  display: flex;
  transition: all linear 0.5s;
}
.sec3-2all:hover {
  border: 1px #4500bd solid;
  transition: all linear 0.5s;
}
.icon {
  width: 35px;
  display: flex;
  height: 35px;
}
/* ////////////////////////////////////////////// */
.sec4 {
  display: flex;
  font-family: "Monoton", cursive;
  font-family: "Poppins", sans-serif;
  font-family: "Radio Canada", sans-serif;
  font-weight: 600;
  font-size: 20px;
  height: 13%;
  align-items: center;
  justify-content: center;
  /* border: 1px black solid; */
  width: 100%;
  align-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
}
.icon3-box {
  display: flex;
  height: 28px;
  margin: 10px;
  width: 28px;
  cursor: pointer;
}
#us-flag img {
  border-radius: 55%;
}
.line2 {
  position: relative;
  width: 339px !important;
  display: flex;
  right: -17px;
  top: -5px;
}
.containerOftEXT {
  font-family: "Monoton", cursive;
  font-family: "Poppins", sans-serif;
  font-family: "Radio Canada", sans-serif;
  font-weight: 400;
  font-size: 11px;
  position: relative;
  right: -14px;
  top: 15px;
}
.t2 {
  top: 19px;
}
a:link {
  text-decoration: none;
}
.line3 {
  position: relative;
  width: 339px !important;
  display: flex;
  right: -17px;
  top: 18px;
}
.t3 {
  top: 36px;
}
.t4 {
  top: 42px;
}
